<h1>This is campgrounds page</h1>

<% campgrounds.forEach(function(campground){%>
    <li>
        <h4><%=campground.name%></h4>
        <img src="<%=campground.image%>">
    </li>
<% }) %>


<%%>
<%%>
<%%>
